.wrapper{
  display: flex;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  position: relative;
  perspective: 450px;
}

.scroll-text{
  z-index: 2;
  color: blue;
  font-size: 3vw;
  line-height: 1.5em;
  font-weight: bold;
  text-align: justify;
  position: relative;
  animation: scroll 60s linear forwards;
 
}

.wrapper h1, h2 {
  text-align: center;
}

@keyframes scroll {
  from { top: 0; transform: translateZ(0) rotateX(10deg);}
  to { top: -5000px; transform: translateZ(-2500px) rotateX(21deg);} /* controls speed */
}

body::after{
content: '';
position:fixed;
top: 0;
width: 100%;
height: 50%;
background: linear-gradient(180deg, rgba(20,20,20,1) 40%, rgba(20,20,20,0) 100%);
}